body{
    background-color: #8B09FF;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 150vh;
}
.table{
    background-color: rgba(40, 99, 207, 0.938);
    padding: 0 20px;
    box-shadow: 0px 0px 3px #848484;
    opacity: .85;
}
.modal-content{
    background-color:#4A40FF;
    padding: 0 20px;
    box-shadow: 0px 0px 3px #848484;
    opacity: .90;
    border-radius: 20px;
}
.form-control{
    border-radius: 20px;

}
.btn-primary{
    border-radius: 20px;

}
